HardWare/ethercat_simple_test/EtherCAT2XXX-backups/
HardWare/ethercat_simple_test/production/
HardWare/ethercat/EtherCAT2XXX-backups/
HardWare/ethercat/production/

fp-info-cache

*.zip
*.pdf
*.kicad_prl
